<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simplifii.framework">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />




    <application
        android:allowBackup="true"
        android:theme="@style/Theme.DesignDemo"
        android:label="@string/app_name">

        <activity android:name=".activity.PushNotification" />
        <activity android:name=".activity.BaseSignUpActivity" />
        <activity android:name=".activity.BaseLoginActivity"></activity>
        <activity android:name=".activity.FragmentContainer"></activity>
        <activity android:name="simplifii.framework.activity.PDFViewer"></activity>
        <activity android:name=".activity.IMAGEViewer"></activity>
        <activity android:name=".activity.MapViewActivity"></activity>

    </application>

</manifest>